ErrorDocument 403 http://localhost:8090/jean-forteroche/app/Views/errors/403.php
ErrorDocument 404 http://localhost:8090/jean-forteroche/app/Views/errors/404.php
RewriteEngine On
RewriteRule (.*) public [L]
 